:root {
  --primary: #FF6347;
  --contrast: #FFFFFF;
  --back: #F7F5F6;
  --default-check: #D5D5D5;
  --back-dark: #1B1B1B;
  --light: #242124;
  --check-dark: #3D3C3A;
}

* {
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  background-color: var(--back);
}

.accordian {
  width: 750px;
  margin: 0, auto;
  overflow: hidden;
  border-radius: 5px;
}

.accordian-header {
  width: 100%;
  padding: 25px 20px;
  background: var(--primary);
  border: none;
  border-bottom: 1px solid var(--contrast);
  outline: none;
  display: flex;
  justify-content: space-between;
  color: var(--contrast);
  cursor: pointer;
}

.accordian-body {
  background-color: var(--contrast);
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordian-body.active {
  padding: 16px;
  max-height: 160px;
}

.accordian-header.active {
  background: var(--contrast);
  border: 1px solid var(--primary);
  color: #000;
}

.accordian-header.active i {
  transform: rotate(180deg);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
