:root {
  --primary: #FF6347;
  --contrast: #FFFFFF;
  --back: #F7F5F6;
  --default-check: #D5D5D5;
  --back-dark: #1B1B1B;
  --light: #242124;
  --check-dark: #3D3C3A;
}

* {
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
  font-weight: 500;
}

.darkToggle {
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

.darkToggle:checked {
  background: #333;
}

.dark {
  color: white;
  background: #444;
}
