/* Variables to make using colors easier*/
:root {
  --primary: #FF6347;
  --contrast: #FFFFFF;
  --back: #F7F5F6;
  --default-check: ##D5D5D5;
}

/* Default CSS for all pages */

* {
  margin: 0;
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Navigation */

nav {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: var(--primary);
  color: var(--contrast);
  z-index: 10;
}

nav li, nav a {
  display: inline-block;
  font-size: 18px;
}

nav .fas {
  margin-right: 9px;
}

nav ul {
  float: right;
}

nav li {
  padding: 15px 10px;
}

nav h2 {
  float: left;
  font-size: 40px;
  padding-left: 10px 0px;
}

nav a {
  text-decoration: none;
  color: var(--contrast);
  padding: 25px 20px;
}

nav li a:hover {
  color: var(--primary);
  background: var(--contrast);
  border-radius: 5px;
  padding: 10px;
  transition-duration: 400ms;
}

/* For span tags */

.inspan, .inspan h2 {
  font-weight: 700;
}

.outspan {
  color: var(--primary);
}

/* Landing page */


.landing {
  background-image: url(temporarylanding.jpg);
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing h2 {
  font-size: 65px;
  padding: 350px;
  font-weight: 150;
  color: var(--contrast);
}

/* For the textblock classes that is used in all pages */

body {
    background-color: var(--back);
}

.textblock {
  margin: 50px auto;
  max-width: 1200px;
  width: 70%;
}

.textblock h2 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
  font-size: 45px;
}

.textblock h3 {
  text-align: center;
  padding: 50px 0px;
  font-size: 35px;
}

.textblock p {
  text-align: left;
  align-items: center;
  line-height: 1.8;
}


/* for grid layout on news & download page */
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  justify-content: center;
  margin: 50px 0;
}

#app, #chrome {
  grid-template-columns: repeat(2, 1fr);
}

.newsbox {
  background: var(--contrast);
  border: 5px solid var(--primary);
  position: relative;
  line-height: 30px;
}

.newsbox a {
  color: var(--contrast);
  background: var(--primary);
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 15px;
  text-align: center;
}

.newsbox a:hover {
  background: var(--contrast);
  color: var(--primary);
  border-bottom: 5px solid var(--primary);
}

.newsbox h4 {
  margin: 20px;
  font-size: 19px;
}

.newsbox p {
  margin: 20px;
  width: 90%;
  font-size: 15px;
}





/* For buttons */

.btn {
  background-color: var(--primary);
  color: var(--contrast);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
}

/* Checkbox input */

.webcheck {
  border: 5px solid var(--primary);
  height: 200px;
  width: 100%;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast);
  margin-bottom: 50px;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 70px;
  background-color: #d5d5d5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
}

label {
  font-size: 80px;
  padding-left: 30px;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 40px;
  content: "\f00c";
  color: var(--contrast);
  display: none;
}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* Timer interactive */

#time {
  height: 300px;
  display: block;
  text-align: center;
}

#time h1 {
  font-size: 100px;
}

.updown .fan {
  color: var(--primary);
  font-size: 40px;
  padding: 10px 45px;
}

#time .btn {
  margin: 0 25px;
}

.sub {
  text-align: center;
  height: 200px;
}

.sub h3 {
  font-size: 30px;
}

.sub p {
  font-size: 15px;
  padding: 10px 5px 30px;

}


input[type="text"] {
  box-sizing: border-box;
  padding: 10px 15px;
  border: 3px solid var(--primary);
}


/* FAQ questions */
.qa {
  margin: 50px auto;
  width: 70%;
}

.question {
  background: var(--contrast);
  border: 5px solid var(--primary);
  padding: 15px;
  margin: 35px 0;
  position: relative;
}

.question h4 {
  padding: 15px;
  font-size: 20px;
}

.question h4 span {
  font-size: 20px;
}

.question .faq {
  color: var(--primary);
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 30px;
  font-weight: 800;
  cursor: pointer;
}





/* Footer */

footer {
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background-color: var(--primary);
  color: var(--contrast);
}

.main-content {
  display: flex;
  margin-left: 25px;
}

.main-content .box {
  flex-basis: 100%;
  padding: 10px 20px;
}

.box .content {
  margin: 20px 0 0 0;
}

.box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content p {
  text-align: justify;
}

.left .content .social a {
  padding: 0 5px 0 2px;
  color: var(--contrast);
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.left .content .social a span:hover {
  color: var(--primary);
  background: var(--contrast);
  border-radius: 5px;
  transition-duration: 400ms;
}

.center .content .fan {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.center .content .fan:hover {
  color: var(--primary);
  background: var(--contrast);
  border-radius: 5px;
  transition-duration: 400ms;
}

.center .content .text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px;
  line-height: 45px;
}

.right form {
  margin-top: 10px;
}

.right form input, .right form textarea {
  width: 100%;
  background: var(--primary);
  padding-left: 10px;
  border: 3px solid var(--contrast);
  color: var(--contrast);
}

.right form input::placeholder {
  color: var(--contrast);
}

.right form input {
  height: 50px;
}

.right form input:focus, .right form textarea:focus {
  outline-color: var(--contrast);
}

.right form .text {
  margin-bottom: 10px;
}

.right form .sign {
  margin-top: 20px;
}

.right form .sign button {
  height: 40px;
  width: 100%;
  border: none;
  background: var(--contrast);
  color: var(--primary);
  font-weight: 500;
  cursor: pointer;
}

.right form .sign button:hover {
  background: var(--primary);
  color: var(--contrast);
  font-weight: 600;
  border: 2px solid var(--contrast);
  transition-duration: 300ms;
}

.bottom center {
  padding: 15px 5px;
  font-size: 20px;
}
